@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-vietnam-pro {
  font-family: 'Vietnam Pro', sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* This sets a shadow with an offset of 2px horizontally and 2px vertically, with a blur radius of 4px and a color with 50% opacity */
}

.card{
  @apply h-32 sm:h-40 w-40 sm:w-52 bg-[length:170px_170px] bg-[#6DB9D2]/45 rounded-lg shadow-md flex flex-col p-4 hover:shadow-xl hover:-mt-0.5 relative
}

.badge{
  @apply absolute bottom-4 ml-1 p-1 mr-7 bg-auto uppercase rounded-full
}

.card-title{
  @apply text-justify truncate sm:w-64 font-bold text-xl mt-2
}
.card-author{
    @apply bottom-4 ml-1 p-1 mr-7 bg-auto text-opacity-55
}

.chapter-content {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Georgia', serif;
  color: #333;
  padding: 20px;
  margin: 20px 0;
}

/*.delete_badge{*/
/*  @apply absolute top-0 ml-2 p-2 mt-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full;*/
/*}*/

.custom-cell-content {
  text-align: left;
  vertical-align: top;
}

.backdrop{
  position: absolute;
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  /* width: 350px;
  height: 150px; */
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
}
/* .menuItemCategory{
  @apply bg-blue-500 !important;
} */
.create-quiz-button,
.create-document-button{
  font-size: 25px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px 0;
  @apply bg-myYellow;
}
.create-quiz-button{
  margin-top: 20px;
}
.create-document-button{
  margin-bottom: 20px;
}
.document-intro-box{
  margin-left: 250px;
  margin-top: 30px;
  width: 500px;
  margin-bottom: 30px;
}
.document-description-box{
  margin-right: 200px;
  padding: 20px;
  width: 600px;
  font-family: "Be Vietnam Pro", sans-serif;
  @apply shadow-lg;
}
.document-content-box{
  margin-left: 250px;
}
.document-content-box1{
  width: 1072px;
}